<html>
    <head>
        <title>The Mishra's</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Satwik Mishra's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">ABout Satwik Mishra</a></h2>
            <p>he is one of the greatest coders you will find across the world </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">His intrests</a></h2>
            <p>competitve Coding and stuff,He is also into making web apps even this is his first projects.</p>
        </div>
    </body>
</html>